.box {
    border-radius: 100%;
    width: 76px;
    height: 76px;
    border: 4px inset gold;
}

.white {
    background: radial-gradient(circle at bottom left,
    rgb(255,255,255), rgb(240,240,240), rgb(200,200,200),rgb(100,100,100)),100% ;
}

.red {
    background: radial-gradient(circle at center,
    rgb(255,190,190), rgb(180,30,20), rgb(100,30,40),rgb(50,0,0)),100% ;
}

.green {
    background: radial-gradient(circle at center,
    rgb(160,255,255), rgb(0,180,70), rgb(0,100,30),rgb(0,50,0)),100% ;
}

.darkred {
    background-color: darkred;
}

.darkgreen {
    background-color: darkgreen;
}

.black {
    background-color: black;
}

.indicator {
    border: 10px solid rgb(0,0,20);
}
.ai {
    background: radial-gradient(circle at center,
    rgb(80,230,255),rgb(50,120,170),midnightblue,rgb(10,10,15),rgb(4,4,8)),100%;
}

.winner {
    color: gold;
    border: 7px inset gold;
    font-size: 200%;
    height: 96px;
}

.column {
    background: radial-gradient(circle at top,
     rgb(40,80,160), rgb(30,60,120),rgb(20,40,80),rgb(15,30,60)),100% ;
    padding: 10px;
    max-width: 90%;
    max-height: 100%;
    display: grid;
    grid-gap: 11px;
}

.board {
    max-width: 50%;
    max-height: 48%;
    margin: auto auto auto auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.headline {
    margin: auto auto auto 550px;
    font-style: italic;
    color: #E9CA33;
    font-size: 50px;
    max-width: 265px;
    max-height: 50%;
}

.menu {
    border: 3px outset #F0D060;
    border-radius: 5%;
    color: rgb(200, 200, 200, 200);
    margin: auto auto auto 25px;
    background-color: #1A2463;
    width: 62px;
    height: 42px;
}

.navy {
    background-color: navy;
}

.menuButton {
    border: 3px inset #F0D060;
    margin: 20px auto auto auto;
    color: rgb(180, 180, 180, 180);
    font-size: 260%;
    border-radius: 5%;
    padding-top: 70px;
    width: 365px;
    height: 195px;
    display: grid;
}

.textColor {
    color: white;
}

.goldText {
    color: #F0D060;
}

body {
    background: radial-gradient(circle at center,
    rgb(0,0,0),rgb(0,0,8),rgb(0,0,15),rgb(5,5,30),rgb(0,50,80)),100% ;
}