.box{
  border-radius: 100%;
  width: 80px;
  height:80px;
  border: 2px solid black;
}
.white{
  background-color:white;
}
.red{
  background-color:#CB2A27;
}
.green{
  background-color:#4BB95C;
}
.darkred{
  background-color:darkred;
}
.darkgreen{
  background-color:darkgreen;
}
.indicator{
  border: 10px solid black;

}
.winner {
  color: gold;
  border: 8px solid gold;
  font-size: 200%;
  height:100px;
}
.column{
  border: 8px solid navy;
  background-color: navy;
  max-width: 90%;
  max-height: 100%;
  display:grid;
  grid-gap: 12px;
}
.board{
  max-width: 50%;
  max-height: 50%;
  margin:auto auto auto 360px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.headline{
  margin:auto auto auto 534px;
  font-style: italic;
  color: #E9CA33;
  font-size: 50px;
  max-width: 265px;
  max-height: 50%;
}
.menu{
  border:2px solid #F0D060;
  border-radius: 5%;
  color: white;
  margin:auto auto auto 25px;
  background-color: #1A2463;
  width: 60px;
  height:40px;
}
.navy{
  background-color: navy;
}
.menuButton{
  border:6px solid #F0D060;
  margin:40px auto auto auto;
  color: white;
  font-size: 280% ;
  border-radius: 5%;
  padding-top: 90px;
  width: 405px;
  height:250px;
  display:grid;
}
body {
  background-color: black;
}